.demo-tab-group {
  border: 1px solid #e8e8e8;
}

.demo-tab-content {
  padding: 16px;
}

:host ::ng-deep .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
  background-color:#FF5964;
}

:host ::ng-deep .mat-tab-label {
  color:#FF5964;
  font-weight: 700;
}
:host ::ng-deep .mat-tab-label-active {
  color:#FF5964;
  font-weight: 700;
}

