<div class="container">
	<div class="login-container">
            <div id="output"></div>
            <div class="avatar"></div>
            <div class="form-box">
                    <input type="password" [(ngModel)]="user.password" placeholder="password">
                    <button class="btn btn-danger btn-block login" (click)="onSubmit()" type="submit">Login</button>
            </div>
        </div>
				<div class="row" *ngIf="showProgress">
				<mat-progress-bar  mode="indeterminate"></mat-progress-bar>
			</div>


</div>
