<!--Category CMS-->
<h5 style="text-align: center; margin-top: 10px;">
  <u>Create New Category</u>
</h5>
<div class="row" style="padding: 10px;">
  <form class="example-form">
    <div class="row">
      <div class="form-group col-xs-6">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Category Name" [(ngModel)]="postCategorydata.category" name="category">
        </mat-form-field>
      </div>
      <div class="form-group col-xs-6">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Sub Category Name" [(ngModel)]="postCategorydata.subCategory" name="subCategory">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-xs-9"></div>
      <div class="form-group col-xs-3">
        <button class="btn btn-success btn-block" (click)="onSubmitCategory()" type="submit">Submit</button>
      </div>
    </div>
  </form>
</div>
<!--Custom Horizontal Line Seperator-->
<hr class="customHR">
<h5 style="text-align: center;">
  <u>Create New Menu</u>
</h5>
<!---Menu CMS-->
<div class="row" style="padding: 10px;">
  <form class="example-form">
    <div class="row">
      <div class="form-group col-xs-6">
        <mat-form-field class="example-full-width">
          <mat-select placeholder="Size" [(ngModel)]="postMenuData.size" name="size">
            <mat-option *ngFor="let size of Sizes" [value]="size.value">
              {{ size.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-group col-xs-6">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Menu Name" [(ngModel)]="postMenuData.menu_name" name="menu_name">
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-xs-6">
        <mat-form-field class="example-full-width">
          <mat-select placeholder="Offer" [(ngModel)]="postMenuData.offer_id" name="offer_id">
            <mat-option *ngFor="let offer of Offers" [value]="offer.value">
              {{ offer.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-group col-xs-6">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Price" type="number" [(ngModel)]="postMenuData.price" name="price" class="example-right-align">
          <span matPrefix>₹&nbsp;</span>
          <span matSuffix>.00</span>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-xs-6">
        <mat-form-field class="example-full-width">
          <mat-select placeholder="Cateogry" [(ngModel)]="postMenuData.category_id" name="category_id" (change)="getSelectedCategory($event);">
            <mat-option *ngFor="let category of ELEMENT_DATA" [value]="category.cat_id">
              {{ category.category_name }}  ,  {{category.sub_category_name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-group col-xs-6">
        <mat-form-field class="example-full-width">
          <mat-select placeholder="Toppings" [(ngModel)]="postMenuData.toppings_allowed" name="toppings_allowed">
            <mat-option *ngFor="let offer of Offers" [value]="offer.value">
              {{ offer.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-xs-9"></div>
        <div class="form-group col-xs-3">
          <button class="btn btn-success btn-block" (click)="onSubmitMenu()" type="submit">Submit</button>
        </div>
      </div>

      <hr class="customHR">
<h5 style="text-align: center;">
  <u>Delete Menu</u>
</h5>
<div class="row">
  <div class="form-group col-xs-6">
      <mat-form-field class="example-full-width">
        <mat-select placeholder="Select A Menu" [(ngModel)]="dataMenu.menu_id" name="menu_id">
          <mat-option *ngFor="let menu of ELEMENT_DATA_MENU" [value]="menu.id">
            {{ menu.category_name }}  ,  {{menu.sub_category_name}} , {{menu.menu_name}}
          </mat-option>
        </mat-select>
    </mat-form-field>
  </div>
  <div class="form-group col-xs-3"></div>
  <div class="form-group col-xs-3">
    <button class="btn btn-danger btn-block" (click)="onDelete()" type="submit">Delete</button>
  </div>
</div>

  </form>
</div>